<div class="header gold">
  <h1 class="headeranimaldetail headertext">Detail View</h1>
</div>

<div class="container">
  <ng-container *ngIf="animal !== undefined">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>{{animal.name}}</th>
        </tr>
      </thead>
      <tr>
        <td></td>
      </tr>
      <tbody>
      <tr>
        <td>Energy Usage</td>
        <td>{{ animal.energyUsage }}</td>
      </tr>
      <tr>
        <td>Healing</td>
        <td>{{ animal.healing }}</td>
      </tr>
      <tr>
        <td>Energy Recovery</td>
        <td>{{ animal.energyRecovery }}</td>
      </tr>
      <tr>
        <td>Max Damage</td>
        <td>{{ animal.maxDamage }}</td>
      </tr>
      <tr>
        <td>Experience needed</td>
        <td>{{ animal.requiredExperience }}</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{ animal.descriptionOption }}</td>
      </tr>
    </tbody>
    </table>
    <h2 class="gold">Further Information</h2>
    <ul>
    </ul>
  </ng-container>
  <br />
  <a (click)="gotoWiki()" class="link"
    >The description is taken from the wonderful Harry Potter Wiki!</a
  >
</div>
