.fi {
  text-align: left;
}

.headeranimaldetail {
  margin: 10px;
  border: 5px solid rgb(148, 107, 45);
  padding: 10px;
  list-style-type: none;
  text-align: center;
  border-radius: 0.25rem;
}

a {
  color: white;
}

.link {
  text-align: center;
  color: white;
}

th {
  font-size: 2rem;
}
