.link {
  text-decoration: none;
  color: white;
  text-align: center;
}

.link:hover {
  cursor: pointer;
  color: white;
}

body {
  font-family: "The Nautigal", cursive;
  font-size: 1.5rem;
  color: white;
  background: rgb(14, 26, 64);
}

.gold {
  color: rgb(211, 166, 37);
}

.headertext {
  font-size: 1.5em;

}

.white {
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}

.mtop {
  margin-top: 10%;
}

.clearing {
  clear: both;
}

.abstandLinks {
  margin-left: 10px;
}


/*Navigation*/
.nav-link {
  cursor: pointer;
}


details[open] {
  margin-bottom: 1em;
}

/*slider*/

tr,
td {
  color: white;
}

.sticky-top{
  background-color: rgb(14, 26, 64);
  height: 110px;
}


/*für Tabelle*/

thead {
  font-weight: 300 !important;
}

.formButton {
  height: 50px;
  width: 150px;
  padding: 0 1rem;
  margin: 0 0.7rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: rgb(14, 26, 64);
  border-radius: 0.25rem;
  border: 1px solid white;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.formButtonTable {
  height: 50px;
  width: 75px;
  /* padding: 0 1rem; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: rgb(14, 26, 64);
  border-radius: 0.25rem;
  border: 1px solid white;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.formButtonColumn {
  height: 35px;
  width: 75px;
  /* padding: 0 1rem; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: rgb(14, 26, 64);
  border-radius: 0.25rem;
  border: 1px solid white;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}


.formButton:hover:enabled {
  padding: 0 1rem;
  margin: 0 0.7rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: rgb(211, 166, 37);
  border-radius: 0.25rem;
  border: 1px solid rgb(211, 166, 37);
}

.formButtonTable:hover:enabled {
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: rgb(211, 166, 37);
  border-radius: 0.25rem;
  border: 1px solid rgb(211, 166, 37);
}

.formButtonColumn:hover:enabled {
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: rgb(211, 166, 37);
  border-radius: 0.25rem;
  border: 1px solid rgb(211, 166, 37);
}

.formFelder {
  width: 150px;
  height: 50px;
  padding: 0.375rem 0.75rem;
  margin: 0 0.7rem;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid white;
}

.formFelderRadio {
  padding: 0.375rem 0.75rem;
  margin: 0 0.7rem;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid white;
}

.radioAbstand {
  padding: 0 0.5rem;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid white;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

input:checked {
  border: 8px solid rgb(211, 166, 37);
}