<div class="header gold pt-lg-3 sticky-top">
  <h1 class="headertext headerhome">The most accomplished Wizard</h1>
</div>

<div class="container">
  <div class="container-fluid padding mt-5">
    <div class="row padding">
      <div class="col-md-12 col-lg-6" *ngIf="magicalBeing !== undefined">
        <h2 class="headertext gold">{{ magicalBeing.name }}</h2>
        <ul>
          <li>Healthpoints: {{ magicalBeing.healthPoints }}</li>
          <li>Factor: {{ magicalBeing.faktor }}</li>
          <li>Energy: {{ magicalBeing.energy }}</li>
          <li *ngIf="magicalBeing.victories === 1">
            Victory: {{ magicalBeing.victories }}
          </li>
          <li *ngIf="magicalBeing.victories !== 1">
            Victories: {{ magicalBeing.victories }}
          </li>
          <li>Rank: {{ magicalBeing.rank }}</li>
          <li>Chess Victories: {{ magicalBeing.victoriesChess }}</li>
          <li>Class: {{ magicalBeing.klasse }}</li>
          <li>Species: {{ magicalBeing.species }}</li>
          <li *ngIf="magicalBeing.amount < 2">
            Rating: {{ magicalBeing.rating }} ({{ magicalBeing.amount }} Review)
          </li>
          <li *ngIf="magicalBeing.amount > 1">
            Rating: {{ magicalBeing.rating }} ({{ magicalBeing.amount }}
            Reviews)
          </li>
          <li>Spells: {{ magicalBeing.spells.length }}</li>
          <li>Potions: {{ magicalBeing.potions.length }}</li>
          <li>Animals: {{ magicalBeing.animals.length }}</li>
          <li>Melees: {{ magicalBeing.melees.length }}</li>
        </ul>
      </div>
      <div class="col-lg-6">
        <h2 class="headertext gold">Inspirational Harry Potter Quote:</h2>
        <p>{{ quote }}</p>
      </div>
    </div>
  </div>
</div>
