<div class="header gold">
  <h1 class="headercreate headertext">Create a new Wizard</h1>
</div>

<div class="container-fluid padding mt-5">
  <div class="row padding">
    <div class="col-md-12 col-lg-4">
      <table>
        <tr>
          <td><label required for="zauberer">Choose a wizard type:</label></td>
          <td>
            <select class="formButton" [formControl]="createWizardNr">
              <option *ngFor="let zauberer of wizardType">
                {{ zauberer }}
              </option>
            </select>
          </td>
        </tr>
        <tr>
          <td></td>
          <td> 
            <form [formGroup]="wizardForm" (ngSubmit)="submit()">
            <div>
              <label for="name">
                <input
                  class="formFelder"
                  id="name"
                  type="text"
                  formControlName="name"
                  placeholder="Name"
                />
              </label>
            </div>
          </form>
        </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <form [formGroup]="wizardForm" (ngSubmit)="submit()">
            <div>
              <label for="hp">
                <input
                  class="formFelder"
                  id="hp"
                  type="number"
                  formControlName="healthPoints"
                  placeholder="Healthpoints"
                />
              </label>
            </div>
            </form>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <form [formGroup]="wizardForm" (ngSubmit)="submit()">
              <div>
                <label for="hp">
                  <input
                    class="formFelder"
                    id="hp"
                    type="text"
                    formControlName="description"
                    placeholder="Description"
                  />
                </label>
              </div>
            </form>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <form [formGroup]="wizardForm" (ngSubmit)="submit()">
              <button
              class="formButton"
              type="submit"
              [disabled]="!wizardForm.valid || !createWizardNr.valid"
            >
              Submit
            </button>
            <p *ngIf="show">A wizard was created</p>
          </form>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-lg-8">
      <h2 class="gold">Rules for the Creation of a wizard:</h2>
      <ol>
        <li>There can be only one Voldemort</li>
        <li>There can be only one Dumbledore</li>
        <li>Every name can be used only once</li>
        <li>A wizard type must be chosen</li>
        <li>The name has to be at least 3 characters long</li>
        <li>Healthpoints cannot be smaller than 1</li>
        <li>Healthpoints cannot be larger than 100</li>
        <li>
          A description must be written, but it cannot extend 100 characters
        </li>
      </ol>
    </div>
  </div>
</div>
