<div class="pt-lg-3 sticky-top header gold">
  <h1 class="headerselection headertext">Training Selection</h1>
</div>
<div class="container">
  <br />
  <div class="intro hint">
    The decisive attack on Hogwarts and its defenders has not started yet. It
    seems like the attackers postponed the attack by a few hours. Therefore,
    some time is left to improve duelling skill and train animals. Luckily, in
    the room of requirment an old wizard dummy was found that can be used for
    training. Furthermore, the remaining time can be used to fill the already
    low potions stock.
  </div>
  <div class="container-fluid padding mt-5">
    <div class="row padding">
      <div class="col-md-12 col-lg-6 hint">
        <label required for="wizardUpdate">Choose an advisor:</label>
        <select
          class="formButton"
          id="wizardUpdateA"
          (change)="getMagicalBeingAByName()"
        >
          <option value="{{ z.id }}" *ngFor="let z of magicalBeings">
            {{ z.name }}
          </option>
        </select>
      </div>
      <div
        class="check gold col-lg-3 hint"
        *ngIf="magicalBeingChoiceA !== undefined"
      >
        Do you want to train <a>{{ magicalBeingChoiceA.name }}?</a> &nbsp;
      </div>
      <div class="col-lg-3 hint">
        <button class="formButton" (click)="send()">Yes</button>
      </div>
      <!-- <table class="tablecentered" style="width: 80%">
          <tr>
            <td class="gold" style="width: 60%">
              Do you want to train <a>{{ magicalBeingChoiceA.name }}?</a> &nbsp;
              &nbsp;
            </td>
            <td><button class="formButton" (click)="send()">Yes</button></td>
          </tr>
        </table> -->
    </div>
  </div>

  <div class="hint">
    <br />
    <br />
    <a>
      <a (click)="gotoDetails()" class="link"
        >If you unsure which wizard to choose, you can examine all the wizards
        in the Detail View.</a
      >
      <br />
      <a (click)="gotoWiki()" class="link"
        >Furthermore, the Harry Potter Wiki is an excellent source for even more
        information.</a
      >
    </a>
  </div>
</div>
