<div class="pt-lg-3 sticky-top header gold">
  <h1 class="headeroverview headertext">Overview</h1>
</div>

<div class="container">
  <div class="container-fluid padding mt-5">
    <div class="row padding">
      <div>
        <div class="goto" *ngIf="showFilter.value">
          <h2 class="headertext gold filter">Filter:</h2>
          <a *ngFor="let s of species">
            <button class="formButton" (click)="getMagicalBeingBySpecies(s)">
              {{ s }}
            </button>
          </a>
          <br/>
          <br/>
          <a *ngFor="let c of class">
            <button class="formButton" (click)="getMagicalBeingByHouse(c)">
              {{ c }}
            </button>
          </a>
          <br />
          <br />
          <input
            class="formFelder"
            type="number"
            [formControl]="max"
            placeholder="Max Healtpoints"
            (keyup.enter)="maxSearch($event)"
          />
          <input
            class="formFelder"
            type="number"
            [formControl]="min"
            placeholder="Min Healtpoints"
            (keyup.enter)="minSearch($event)"
          />
          <input
            class="formFelder"
            type="number"
            [formControl]="minVictories"
            placeholder="Min Victories"
            (keyup.enter)="getMinVictories($event)"
          />
          <input
            class="formFelder"
            type="number"
            [formControl]="spellAmount"
            placeholder="Spells"
            (keyup.enter)="getSpellAmount($event)"
          />
          <input
            class="formFelder"
            type="number"
            [formControl]="potionAmount"
            placeholder="Potions"
            (keyup.enter)="getPotionAmount($event)"
          />
          <input
            class="formFelder"
            type="number"
            [formControl]="animalAmount"
            placeholder="Animals"
            (keyup.enter)="getAnimalAmount($event)"
          />
        </div>
        <div class="goto">
          <br />
          <button class="formButton" (click)="deleteFilter()">
            Remove Filter
          </button>
          <button
            class="formButton"
            (click)="showHideFilter(true)"
            *ngIf="!showFilter.value"
          >
            Show Filter
          </button>
          <button
            class="formButton"
            (click)="showHideFilter(false)"
            *ngIf="showFilter.value"
          >
            Hide Filter
          </button>
        </div>
      </div>
      <div class="container tablewizards col-md-12 col-lg-12">
        <br />
        <table class="table" style="width: 100%">
          <thead>
            <tr>
              <th style="width: 20%;">Name</th>
              <th>HP</th>
              <th style="width: 15%;">Class</th>
              <th>Spells</th>
              <th>Potions</th>
              <th>Animals</th>
              <th>Victories</th>
            </tr>
          </thead>
          <tr>
            <td></td>
          </tr>
          <tbody>
            <tr *ngFor="let z of magicalBeings">
              <td>{{ z.name }}</td>
              <td>{{ z.healthPoints }}</td>
              <td>{{ z.klasse }}</td>
              <td>{{ z.spells.length }}</td>
              <td>{{ z.potions.length }}</td>
              <td>{{ z.animals.length }}</td>
              <td>{{ z.victories }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="goto">
        <br />
        <p>
          For an overview of all Potions, Spells and Animals, please click the
          respective button.
        </p>
        <button class="formButton" (click)="gotoPotions()">
          Go to Potions
        </button>
        <button class="formButton" (click)="gotoSpells()">Go to Spells</button>
        <button class="formButton" (click)="gotoAnimals()">
          Go to Animals
        </button>
      </div>
    </div>
  </div>
</div>
