.headeroverview {
  margin: 10px;
  border: 5px solid rgb(26, 71, 42);
  padding: 10px;
  list-style-type: none;
  text-align: center;
  border-radius: 0.25rem;
}

.filter {
  margin: 0.7rem;
}

.goto {
  text-align: center;
  justify-content: space-around;
}

th {
  font-size: 2rem;
}

.tablewizards {
  margin-left: auto;
  margin-right: auto;
}