<div class="pt-lg-3 sticky-top header gold">
  <h1 class="headeroverview headertext">Overview</h1>
</div>

<div class="container-fluid padding mt-5">
  <div class="row padding">
    <div class="col-md-12 col-lg-2">
      <h2 class="headertext gold filter">Filter:</h2>
      <nav class="navbar-expand-lg">
        <button
          class="navbar-toggler formButton"
          data-bs-toggle="collapse"
          data-bs-target="#filter"
          aria-controls="filter"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Show Filter
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse flex-column" id="filter">
          <a *ngFor="let c of class">
            <button class="formButton" (click)="getWizard(c)">{{ c }}</button>
          </a>
          <br />
          <input
            class="formFelder"
            type="number"
            [formControl]="max"
            placeholder="Max Healtpoints"
            (keyup.enter)="maxSearch($event)"
          />
          <input
            class="formFelder"
            type="number"
            [formControl]="min"
            placeholder="Min Healtpoints"
            (keyup.enter)="minSearch($event)"
          />
          <input
            class="formFelder"
            type="number"
            [formControl]="minVictories"
            placeholder="Min Victories"
            (keyup.enter)="getMinVictories($event)"
          />
          <input
            class="formFelder"
            type="number"
            [formControl]="spellAmount"
            placeholder="Spells"
            (keyup.enter)="getSpellAmount($event)"
          />
          <input
            class="formFelder"
            type="number"
            [formControl]="potionAmount"
            placeholder="Potions"
            (keyup.enter)="getPotionAmount($event)"
          />
          <input
            class="formFelder"
            type="number"
            [formControl]="animalAmount"
            placeholder="Animals"
            (keyup.enter)="getAnimalAmount($event)"
          />
          <br />
          <button class="formButton" (click)="deleteFilter()">
            Remove Filter
          </button>
        </div>
      </nav>
      <br />
    </div>
    <div class="col-lg-1"></div>

    <div class="container tablewizards col-lg-9">
      <table class="table" style="width: 90%">
        <thead>
          <tr>
            <th>Name</th>
            <th>HP</th>
            <th>Class</th>
            <th>Spells</th>
            <th>Potions</th>
            <th>Animals</th>
            <th>Victories</th>
          </tr>
        </thead>
        <tr>
          <td></td>
        </tr>
        <tbody>
          <tr *ngFor="let z of wizards">
            <td>{{ z.name }}</td>
            <td>{{ z.healthPoints }}</td>
            <td>{{ z.klasse }}</td>
            <td>{{ z.spells.length }}</td>
            <td>{{ z.potions.length }}</td>
            <td>{{ z.animals.length }}</td>
            <td>{{ z.victories }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="goto">
      <p>
        For an overview of all Potions, Spells and Animals, please click the
        respective button.
      </p>
      <button class="formButton" (click)="gotoPotions()">Go to Potions</button>
      <button class="formButton" (click)="gotoSpells()">Go to Spells</button>
      <button class="formButton" (click)="gotoAnimals()">Go to Animals</button>
    </div>
  </div>
</div>
