<div class="header gold pt-lg-3 sticky-top">
  <h1 class="headerprologue headertext">The Prologue</h1>
</div>

<div class="container">
  <div class="intro">
    <br />
    <p>
      The Wizarding World is in great turmoil once again. Just as in the Great
      Fight, Hogwarts is the last remaining outpost of the Resistance. According
      to the latest intelligence of the Resistance an unknown number of opposing
      Wizards is on its way to Hogwarts.The defences are prepared and the
      remaining wizards spread at the castle. One brave Wizard stands up to
      defend the {{ environment }}. Can the Wizard hold off the attack?
    </p>
  </div>

  <div class="size">
    <label class="gold" required for="Size"
      >How many Wizards are attacking at the {{ environment }}?</label
    >
    <br />
    <a *ngFor="let star of battleSize">
      <input
        class="white link"
        id="rate_{{ star }}"
        value="{{ star }}"
        type="radio"
        name="radio"
        [formControl]="numberOfParticipants"
      /><label for="rate_{{ star }}" class="link">&nbsp;{{ star }}</label>
      &nbsp;
    </a>
  </div>

  <div class="container-fluid padding mt-5">
    <div class="row padding">
      <div class="col-md-12 col-lg-6 choice">
        <ng-container
          *ngIf="
            numberOfParticipants.value === '1' ||
            numberOfParticipants.value === '2' ||
            numberOfParticipants.value === '3'
          "
        >
          <div class="abstandeinsbutton">
            <label required for="wizardUpdate">Choose a Defender:</label>
            <select
              class="formButton"
              id="wizardUpdateA"
              (change)="getMagicalBeingAByName()"
            >
              <option value="{{ z.id }}" *ngFor="let z of magicalBeings">
                {{ z.name }}
              </option>
            </select>
          </div>
        </ng-container>

        <ng-container
          *ngIf="
            numberOfParticipants.value === '2' ||
            numberOfParticipants.value === '3'
          "
        >
          <label required for="wizardUpdate">Choose an Attacker: </label>
          <select
            class="formButton"
            id="wizardUpdateC"
            (change)="getMagicalBeingCByName()"
          >
            <option value="{{ z.id }}" *ngFor="let z of magicalBeings">
              {{ z.name }}
            </option>
          </select>
        </ng-container>
      </div>
      <div class="col-lg-6 choice">
        <ng-container
          *ngIf="
            numberOfParticipants.value === '1' ||
            numberOfParticipants.value === '2' ||
            numberOfParticipants.value === '3'
          "
        >
          <div>
            <label required for="wizardUpdate">Choose an Attacker: </label>
            <select
              class="formButton"
              id="wizardUpdateB"
              (change)="getMagicalBeingBByName()"
            >
              <option value="{{ z.id }}" *ngFor="let z of magicalBeings">
                {{ z.name }}
              </option>
            </select>
          </div>
        </ng-container>

        <ng-container
          *ngIf="numberOfParticipants.value === '3'"
          class="choose4 buttonD"
        >
          <label required for="wizardUpdate">Choose an Attacker: </label>
          <select
            class="formButton"
            id="wizardUpdateD"
            (change)="getMagicalBeingDByName()"
          >
            <option value="{{ z.id }}" *ngFor="let z of magicalBeings">
              {{ z.name }}
            </option>
          </select>
        </ng-container>
      </div>
    </div>
  </div>

  <div
    class="check"
    *ngIf="
      magicalBeingChoiceA !== undefined &&
      magicalBeingChoiceB !== undefined &&
      numberOfParticipants.value === '1'
    "
  >
    <br />
    <div class="gold">
      Do you want to start the battle with these Wizards:
      <a>{{ magicalBeingChoiceA.name }} and </a>
      <a>{{ magicalBeingChoiceB.name }}? </a>
    </div>
    <button
      class="formButton"
      (click)="send2()"
      [disabled]="!numberOfParticipants.valid"
    >
      Yes
    </button>
  </div>

  <div
    class="check"
    *ngIf="
      magicalBeingChoiceA !== undefined &&
      magicalBeingChoiceB !== undefined &&
      magicalBeingChoiceC !== undefined &&
      numberOfParticipants.value === '2'
    "
  >
    <br />
    <div class="gold">
      Do you want to start the battle with these Wizards:
      <a>{{ magicalBeingChoiceA.name }}, </a>
      <a>{{ magicalBeingChoiceB.name }} and </a>
      <a>{{ magicalBeingChoiceC.name }} </a>
    </div>
    <button
      class="formButton"
      (click)="send3()"
      [disabled]="!numberOfParticipants.valid"
    >
      Yes
    </button>
  </div>

  <div
    class="check"
    *ngIf="
      magicalBeingChoiceA !== undefined &&
      magicalBeingChoiceB !== undefined &&
      magicalBeingChoiceC !== undefined &&
      magicalBeingChoiceD !== undefined &&
      numberOfParticipants.value === '3'
    "
  >
    <br />
    <div class="gold">
      Do you want to start the battle with these Wizards:
      <a>{{ magicalBeingChoiceA.name }}, </a>
      <a>{{ magicalBeingChoiceB.name }}, </a>
      <a>{{ magicalBeingChoiceC.name }} and </a>
      <a>{{ magicalBeingChoiceD.name }} </a>
    </div>
    <button
      class="formButton"
      (click)="send4()"
      [disabled]="!numberOfParticipants.valid"
    >
      Yes
    </button>
  </div>
  <div class="hint" *ngIf="numberOfParticipants.value !== ''">
    <br />
    <p>Note: Each wizard can compete only once!</p>
    <a>
      <a (click)="gotoDetails()" class="link"
        >If you unsure which wizard to choose, you can examine all the wizards
        in the Detail View.</a
      >
      <br />
      <a (click)="gotoWiki()" class="link"
        >Furthermore, the Harry Potter Wiki is an excellent source for even more
        information.</a
      >
    </a>
  </div>
</div>
