.container {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "intro intro"
    "radio radio"
    "choose1 choose2"
    "choose3 choose4"
    "check check"
    "hint hint"
    ;
}


.header {
  margin: 10px;
  border: 5px solid rgb(46, 75, 224);
  padding: 10px;
  list-style-type: none;
  text-align: center;
  grid-area: header;
}

.header {
  text-decoration: none;
  color: black;
}

.intro{
  grid-area: intro;
  text-align: center;
}


.size{
  grid-area: radio;
  text-align: center;

}

input.radio {
  display: inline-block;
}

.choose1 {
  grid-area: choose1;

}

.choose2 {
  grid-area: choose2;
}

.choose3 {
  grid-area: choose3;
}

.choose4 {
  grid-area: choose4;
}

.hint {
  grid-area: hint;
  text-align: center;
}

.check{
  grid-area: check;
  text-align: center;
}




