<div class="pt-lg-3 sticky-top header gold">
  <h1 class="headertraining headertext">Training</h1>
</div>

<div
  *ngIf="show && dummy !== undefined && magicalBeing1 !== undefined"
  class="container"
>
  <div class="container-fluid padding mt-5">
    <div class="row padding">
      <div class="col-md-12 col-lg-12 centered">
        <p>Please choose the area the wizard will train:</p>
        <button class="formButton" (click)="showSpell()">Spells</button>
        <button class="formButton" (click)="showPotion()">Potions</button>
        <button class="formButton" (click)="showAnimal()">Animals</button>
        <button class="formButton" (click)="showMelee()" *ngIf="magicalBeing1.species === 'Giant'">Melee</button>
      </div>

      <div
        class="col-md-12 col-lg-12 centered gold"
        *ngIf="showVictory.value && magicalBeing1 !== undefined"
      >
        <br />
        {{ magicalBeing1.name }} trained succesfully and gained 1 experience
      </div>
      <div
        class="col-md-12 col-lg-12 centered gold"
        *ngIf="showSuccesDuell.value && magicalBeing1 !== undefined"
      >
        <br />
        {{ magicalBeing1.name }} trained succesfully and gained 1 training
        victory
      </div>
      <div
        class="col-md-12 col-lg-12 centered gold"
        *ngIf="showFailureDuell.value && magicalBeing1 !== undefined"
      >
        <br />
        {{ magicalBeing1.name }} did not train succesfully and did not gain a
        training victory
      </div>

      <div
        class="col-md-12 col-lg-12 centered gold"
        *ngIf="showSuccesPotion.value && magicalBeing1 !== undefined"
      >
        <br />
        {{ magicalBeing1.name }} brewed a Potion succesfully and gained 1
        training victory
      </div>
      <div
        class="col-md-12 col-lg-12 centered gold"
        *ngIf="showFailurePotion.value && magicalBeing1 !== undefined"
      >
        <br />
        {{ magicalBeing1.name }} did not brew succesfully and did not gain a
        training victory
      </div>

      <div class="col-md-12 col-lg-12">
        <ng-container *ngIf="chosenOption === 'spell'">
          <br />
          <h2 class="centered gold">
            {{ magicalBeing1.name }} is fighting against the Dummy and has
            {{ remainingMoves }}
            <a *ngIf="remainingMoves !== 1">spells </a>
            <a *ngIf="remainingMoves === 1">spell </a>
            remaining to defeat the Dummy.
          </h2>
        </ng-container>
        <ng-container *ngIf="chosenOption === 'potion'">
          <br />
          <h2 class="centered gold">
            The potion storage is nearly depleted.
            {{ magicalBeing1.name }} wants to help and starts brewing
            {{ potion }}
          </h2>
        </ng-container>
        <ng-container *ngIf="chosenOption === 'animal'">
          <br />
          <h2 class="centered gold">
            {{ magicalBeing1.name }} is fighting against the Dummy and has
            {{ remainingMoves }}
            <a *ngIf="remainingMoves !== 1">Animal deployments </a>
            <a *ngIf="remainingMoves === 1">Animal deployment </a>
            remaining to defeat the Dummy.
          </h2>
        </ng-container>
        <ng-container *ngIf="chosenOption === 'melee'">
          <br />
          <h2 class="centered gold">
            {{ magicalBeing1.name }} is fighting against the Dummy and has
            {{ remainingMoves }}
            <a *ngIf="remainingMoves !== 1">attacks </a>
            <a *ngIf="remainingMoves === 1">attack </a>
            remaining to defeat the Dummy.
          </h2>
        </ng-container>
        <ng-container *ngIf="chosenOption !== '' && chosenOption !== 'potion'">
          <table class="table" *ngIf="showTable.value" style="width: 100%">
            <thead>
              <tr>
                <th class="largeheader">
                  Wizards participating in the Training:
                </th>
                <th class="largeheader">{{ magicalBeing1.name }}</th>
                <th class="largeheader">{{ dummy.name }}</th>
              </tr>
              <tr>
                <th class="largeheader">Number of Training Victories:</th>
                <th>{{ trainingVictories }}</th>
                <th></th>
              </tr>
            </thead>
            <tr>
              <td></td>
            </tr>
            <tbody *ngIf="showTable.value">
              <tr>
                <td>Status</td>
                <td>
                  <a
                    *ngIf="
                      magicalBeing1.healthPoints >= 10 &&
                      !magicalBeing1.halfLife
                    "
                    >Alive</a
                  >
                  <a
                    *ngIf="
                      (magicalBeing1.healthPoints < 10 &&
                        magicalBeing1.healthPoints > 0) ||
                      (magicalBeing1.halfLife &&
                        magicalBeing1.healthPoints > -100)
                    "
                  >
                    Barely Alive
                  </a>
                  <a
                    *ngIf="
                      magicalBeing1.healthPoints <= 0 && !magicalBeing1.halfLife
                    "
                    >Defeated</a
                  >
                  <a
                    *ngIf="
                      magicalBeing1.healthPoints <= -100 &&
                      magicalBeing1.halfLife
                    "
                  >
                    Defeated
                  </a>
                </td>

                <td>
                  <a *ngIf="dummy.healthPoints >= 10">Alive</a>
                  <a *ngIf="dummy.healthPoints < 10 && dummy.healthPoints > 0">
                    Barely Alive
                  </a>
                  <a *ngIf="dummy.healthPoints <= 0">Defeated</a>
                </td>
              </tr>
              <tr>
                <td>Healthpoints</td>
                <td>{{ magicalBeing1.healthPoints }}</td>
                <td>{{ dummy.healthPoints }}</td>
              </tr>
              <tr>
                <td>Energy</td>
                <td>{{ magicalBeing1.energy }}</td>
                <td>{{ dummy.energy }}</td>
              </tr>
              <ng-container *ngIf="showDetails.value">
                <tr>
                  <td>Factor</td>
                  <td>{{ magicalBeing1.faktor }}</td>
                  <td>{{ dummy.faktor }}</td>
                </tr>
                <tr>
                  <td>Experience</td>
                  <td>{{ magicalBeing1.victories }}</td>
                  <td>{{ dummy.victories }}</td>
                </tr>
                <tr>
                  <td>Class</td>
                  <td>{{ magicalBeing1.klasse }}</td>
                  <td>{{ dummy.klasse }}</td>
                </tr>
                <tr>
                  <td>Abilities vs dummy</td>
                  <td>None</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Additional Factor</td>
                  <td>{{ magicalBeing1.additionalFactor }}</td>
                  <td>{{ dummy.additionalFactor }}</td>
                </tr>
                <tr>
                  <td>Impact Stunned</td>
                  <td>{{ magicalBeing1.stunnedProtection }}</td>
                  <td>{{ dummy.stunnedProtection }}</td>
                </tr>
                <tr>
                  <td>Impact Confunded</td>
                  <td>{{ magicalBeing1.confundedProtection }}</td>
                  <td>{{ dummy.confundedProtection }}</td>
                </tr>
                <tr>
                  <td>Protego</td>
                  <td>{{ magicalBeing1.protego }}</td>
                  <td>{{ dummy.protego }}</td>
                </tr>
                <tr>
                  <td>Fiendfyre cast</td>
                  <td>{{ magicalBeing1.fiendfyre }}</td>
                  <td>{{ dummy.fiendfyre }}</td>
                </tr>
                <tr>
                  <td>Confunded</td>
                  <td>{{ magicalBeing1.conditions[0].condition }}</td>
                  <td>{{ dummy.conditions[0].condition }}</td>
                </tr>
                <tr>
                  <td>Stunned</td>
                  <td>{{ magicalBeing1.conditions[1].condition }}</td>
                  <td>{{ dummy.conditions[1].condition }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <div class="centered">
            <button class="formButton">Rules</button>
            <button
              class="formButton"
              (click)="showHideTable(true)"
              *ngIf="!showTable.value"
            >
              Show Table
            </button>
            <button
              class="formButton"
              (click)="showHideTable(false)"
              *ngIf="showTable.value"
            >
              Hide Table
            </button>
            <button
              class="formButton"
              (click)="showHideDetails(false)"
              *ngIf="showDetails.value && showTable.value"
            >
              Hide Details
            </button>
            <button
              class="formButton"
              (click)="showHideDetails(true)"
              *ngIf="!showDetails.value && showTable.value"
            >
              Show Details
            </button>
            <!-- <button
              class="formButton"
              (click)="gotoPrologue()"
              *ngIf="showResult.value">
            Start another Fight</button> -->
          </div>
        </ng-container>
        <br />
      </div>
      <br />
      <ng-container *ngIf="chosenOption === 'spell'">
        <div class="col-md-12 col-lg-12">
          <h2 class="gold">Please choose a spell:</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Energy Usage</th>
                <th>Max Damage</th>
                <th>Stunned</th>
                <th>Confound</th>
                <th>Experience</th>
                <th></th>
              </tr>
            </thead>
            <tr>
              <td></td>
            </tr>
            <tbody>
              <tr *ngFor="let spell of magicalBeing1.spells">
                <td>{{ spell.name }}</td>
                <td>{{ spell.energyUsage }}</td>
                <td>{{ spell.maxDamage }}</td>
                <td>{{ spell.stunned }}</td>
                <td>{{ spell.confunded }}</td>
                <td>{{ spell.requiredExperience }}</td>
                <td>
                  <button
                    class="formButtonColumn"
                    (click)="getSpell(spell)"
                    [disabled]="
                      magicalBeing1.energy - spell.energyUsage < 0 ||
                      magicalBeing1.victories < spell.requiredExperience
                    "
                  >
                    Select
                  </button>
                  <button
                    class="formButtonColumn"
                    (click)="gotoSpellDetail(spell.id)"
                  >
                    Details
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <p
            *ngIf="validateSpell.value && chosenOption === 'spell'"
            class="centered"
          >
            Do you want to use {{ spell.value.name }} to attack
            {{ dummy.name }}?
            <button
              class="formButton"
              (click)="executeSpell(magicalBeing1, dummy, true)"
            >
              Yes
            </button>
          </p>
        </div>
      </ng-container>

      <ng-container *ngIf="chosenOption === 'potion'">
        <div class="col-md-12 col-lg-4">
          <ul>
            <p class="gold title">Available ingridients</p>
            <li class="nodots" *ngFor="let option of ingredients">
              <input
                class="link"
                id="rate_{{ option }}"
                value="{{ option }}"
                type="radio"
                name="radio"
                (change)="checkDouble(option)"
                [(ngModel)]="ingredient"
              /><label for="rate_{{option}}" class="link"> &nbsp;&nbsp;{{ option }}&nbsp;&nbsp;</label>
            </li>
          </ul>
        </div>
        <div class="col-lg-4">
          <ol>
            <p class="gold title">Chosen ingridients</p>
            <li *ngFor="let i of ingredientsForPotion">{{ i }}</li>
          </ol>
        </div>
        <div class="col-lg-4 centered">
          <ng-container *ngIf="ingredient !== ''">
            <p class="gold centered">Do you want to add {{ ingredient }}?</p>
            <button
              (click)="addIngredient()"
              [disabled]="disable"
              class="formButton"
            >
              Confirm
            </button>
            <br />
            <button
              class="formButton"
              (click)="deleteIngredient()"
              [disabled]="ingredientsForPotion.length === 0"
            >
              Delete ingredient
            </button>
          </ng-container>
          <ng-container *ngIf="ingredientsForPotion.length > 0">
            <p class="gold centered"><br />Do you want to start brewing?</p>
            <button (click)="checkIngredient()" class="formButton">
              Confirm
            </button>
          </ng-container>
          <div (click)="gotoWiki()" class="link">
            <ng-container *ngIf="ingredient !== ''"><br /></ng-container>
            An overview about all potions can be found at the wonderful Harry
            Potter Wiki!
          </div>
          <div (click)="gotoWiki2()" class="link">
            An overview about all ingredients can be found at the Harry Potter
            Wiki as well!
          </div>
        </div>
      </ng-container>

      <br />
      <ng-container *ngIf="chosenOption === 'animal'">
        <div class="col-md-12 col-lg-12">
          <h2 class="gold">Please choose an animal:</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Energy Usage</th>
                <th>Healing</th>
                <th>Recovery</th>
                <th>Max Damage</th>
                <th>Experience</th>
                <th></th>
              </tr>
            </thead>
            <tr>
              <td></td>
            </tr>
            <tbody>
              <tr *ngFor="let animal of magicalBeing1.animals">
                <td>{{ animal.name }}</td>
                <td>{{ animal.energyUsage }}</td>
                <td>{{ animal.healing }}</td>
                <td>{{ animal.energyRecovery }}</td>
                <td>{{ animal.maxDamage }}</td>
                <td>{{ animal.requiredExperience }}</td>
                <td>
                  <button
                    class="formButtonColumn"
                    (click)="getAnimal(animal)"
                    [disabled]="
                      magicalBeing1.victories < animal.requiredExperience
                    "
                  >
                    Select
                  </button>
                  <button
                    class="formButtonColumn"
                    (click)="gotoAnimalDetail(animal.id)"
                  >
                    Details
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <p
            *ngIf="validateAnimal.value && chosenOption === 'animal'"
            class="centered"
          >
            Do you want to send {{ animal.value.name }} into the Fight?
            <button
              class="formButton"
              (click)="useAnimal(magicalBeing1, dummy, true)"
            >
              Yes
            </button>
          </p>
        </div>
      </ng-container>

      <br/>
      <ng-container *ngIf="chosenOption === 'melee'">
        <div class="col-md-12 col-lg-12">
          <h2 class="gold">Please choose a melee:</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Energy Usage</th>
                <th>Max Damage</th>
                <th>Stunned</th>
                <th>Confound</th>
                <th>Experience</th>
                <th></th>
              </tr>
            </thead>
            <tr>
              <td></td>
            </tr>
            <tbody>
              <tr *ngFor="let melee of magicalBeing1.melees">
                <td>{{ melee.name }}</td>
                <td>{{ melee.energyUsage }}</td>
                <td>{{ melee.maxDamage }}</td>
                <td>{{ melee.stunned }}</td>
                <td>{{ melee.confunded }}</td>
                <td>{{ melee.requiredExperience }}</td>
                <td>
                  <button
                    class="formButtonColumn"
                    (click)="getMelee(melee)"
                    [disabled]="
                      magicalBeing1.energy - melee.energyUsage < 0 ||
                      magicalBeing1.victories < melee.requiredExperience
                    "
                  >
                    Select
                  </button>
                  <button
                    class="formButtonColumn"
                    (click)="gotoMeleeDetail(melee.id)"
                  >
                    Details
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <p
            *ngIf="validateMelee.value && chosenOption === 'melee'"
            class="centered"
          >
            Do you want to use {{ spell.value.name }} to attack
            {{ dummy.name }}?
            <button
              class="formButton"
              (click)="executeMelee(magicalBeing1, dummy, true)"
            >
              Yes
            </button>
          </p>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="link container" *ngIf="magicalBeing1 === undefined">
  <br />
  <a (click)="gotoSelection()" class="link"
    >No magical Being has been selected! Please go to Training in order to set
    up a Training
  </a>
</div>
