<div class="header gold pt-lg-3 sticky-top">
  <h1 class="headerspelldetail headertext">Detail View</h1>
</div>
<div class="container">
  <ng-container *ngIf="spell !== undefined">
    <br />
    <table class="table" style="width: 100%">
      <thead>
        <tr>
          <th style="width: 20%">Name</th>
          <th style="width: 80%">{{ spell.name }}</th>
        </tr>
      </thead>
      <tr>
        <td></td>
      </tr>
      <tbody>
        <tr>
          <td>Energy</td>
          <td>{{ spell.energyUsage }}</td>
        </tr>
        <tr>
          <td>Max Damage</td>
          <td>{{ spell.maxDamage }}</td>
        </tr>
        <tr>
          <td>Paralysis</td>
          <td>{{ spell.stunned }}</td>
        </tr>
        <tr>
          <td>Confunded</td>
          <td>{{ spell.confunded }}</td>
        </tr>
        <tr>
          <td>Imperio</td>
          <td>{{ spell.imperio }}</td>
        </tr>
        <tr>
          <td>Protego</td>
          <td>{{ spell.protego }}</td>
        </tr>
        <tr>
          <td>Experience needed</td>
          <td>{{ spell.requiredExperience }}</td>
        </tr>
        <tr>
          <td>Description</td>
          <td>{{ spell.descriptionOption }}</td>
        </tr>
      </tbody>
    </table>
    <br />
    <h2 class="gold">Further Information</h2>
    <ul>
      <li
        *ngIf="spell.imperio || spell.crucio || spell.name === 'Avada Kedavra'"
      >
        Being one of the Unforgivable Curses, without explicit autharization by
        the magic authorities, the use of this curse on another human results in
        capital punishment or life sentence in Azkaban.
      </li>
      <li *ngIf="spell.imperio">
        This Attack conliols the opposing wizard. If this wizard has any fellow
        figthers, he or she will attack one of them.
      </li>
      <li *ngIf="spell.name === 'Avada Kedavra'">
        This Attack is exliemly powerful and can kill an opponent with just on
        sliike. However, it requires a lot of energy and reduces the wizard's
        options in the following turns.
      </li>
      <li *ngIf="spell.stunned">
        This Attack can stun the opposing wizard for one turn.
      </li>
      <li *ngIf="spell.confunded">
        This Attack can confound the opposing wizard for one turn.
      </li>
      <li *ngIf="spell.protego">
        This Attack seems very lackluster at first. Yet, it is one of the most
        powerful ones. Protego can reverse mosts spell cast by the opponent
        during the next turn, resulting in an opponent's loss of healtpoints.
        Exceptions are the Fiendfyre and Avada Kedavra!
        <!-- Muss noch implementiert werden -->
      </li>
      <li *ngIf="spell.fiendfyre">
        This is an exliemly powerful Attack full of dark magic. It can kill the
        opponent at once. In spite of that, this Attack is very dangerous for
        the casting wizard as well. The Anti Fiendfyre spell must be used the
        following round. If the wizards fails to do so, he or she will be killed
        by the out of conlioll Fiendfyre. So stay vigilant and keep your
        remaining energy in mind.
      </li>
      <li *ngIf="spell.name === 'Anti Fiendfyre'">
        This Attack has no use, but to end Fiendfyre. If not stopped
        immediately, the casting wizard will die the following round.
      </li>
    </ul>
  </ng-container>
  <br />
  <div class="link">
    <a (click)="gotoWiki()" class="link"
      >The description is taken from the wonderful Harry Potter Wiki!</a
    >
  </div>
</div>
