.headerbattle {
  margin: 10px;
  border: 5px solid rgb(211, 166, 37);
  padding: 10px;
  list-style-type: none;
  text-align: center;
  border-radius: 0.25rem;

}


.fs {
  text-align: center;
}

.table {
  text-align: center;
}

.result {
  text-align: center;
}


.note {
  text-align: center;
}

input.radio {
  display: inline-block;
}



.note:hover{
  margin: 10px 100px 10px 100px;
  border: 1px solid rgb(0, 0, 0);
  padding: 10px 10px;
  list-style-type: none;
}

.buttons{
  text-align: center;
}
