<div class="header gold">
  <h1 class="headerbattle headertext">
    The unprecentended Battle
    <ng-container *ngIf="wizardsArray.length !== 0"
      >at the {{ environment }}</ng-container
    >
  </h1>
</div>

<ng-container *ngIf="wizard1 !== undefined && wizard2 !== undefined">
  <div class="container-fluid padding mt-5">
    <div class="row padding">
      <div class="col-md-12 col-lg-6">
          <table class="table">
            <thead>
              <tr>
                <th>Currently fighting</th>
                <th>{{ wizard1.name }}</th>
                <th>{{ wizard2.name }}</th>
              </tr>
              <tr>
                <th>
                  <button class="formButton" (click)="gotoRules()">
                    Rules
                  </button>
                </th>
                <th>
                  <button class="formButton" (click)="showHideTable(true)">
                    Show
                  </button>
                </th>
                <th>
                  <button class="formButton" (click)="showHideTable(false)">
                    Hide
                  </button>
                </th>
              </tr>
            </thead>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tbody *ngIf="showTable.value">
              <tr>
                <td>Healthpoints</td>
                <td>{{ wizard1.healthPoints }}</td>
                <td>{{ wizard2.healthPoints }}</td>
              </tr>
              <tr>
                <td>Energy</td>
                <td>{{ wizard1.energy }}</td>
                <td>{{ wizard2.energy }}</td>
              </tr>
              <tr>
                <td>Factor</td>
                <td>{{ wizard1.faktor }}</td>
                <td>{{ wizard2.faktor }}</td>
              </tr>
              <tr>
                <td>Experience</td>
                <td>{{ wizard1.victories }}</td>
                <td>{{ wizard2.victories }}</td>
              </tr>
              <tr>
                <td>Abilities vs other wizard</td>
                <td>{{ strengthAndWeakness(wizard1, wizard2) }}</td>
                <td>{{ strengthAndWeakness(wizard2, wizard1) }}</td>
              </tr>
              <tr>
                <td>Additional Factor</td>
                <td>{{ wizard1.additionalFactor }}</td>
                <td>{{ wizard2.additionalFactor }}</td>
              </tr>
              <tr>
                <td>Impact Stunned</td>
                <td>{{ wizard1.stunnedProtection }}</td>
                <td>{{ wizard2.stunnedProtection }}</td>
              </tr>
              <tr>
                <td>Impact Confunded</td>
                <td>{{ wizard1.confundedProtection }}</td>
                <td>{{ wizard2.confundedProtection }}</td>
              </tr>
              <tr>
                <td>Protego</td>
                <td>{{ wizard1.protego }}</td>
                <td>{{ wizard2.protego }}</td>
              </tr>
              <tr>
                <td>Fiendfyre cast</td>
                <td>{{ wizard1.fiendfyre }}</td>
                <td>{{ wizard2.fiendfyre }}</td>
              </tr>
              <tr>
                <td>Confunded</td>
                <td>{{ wizard1.conditions[0].condition }}</td>
                <td>{{ wizard2.conditions[0].condition }}</td>
              </tr>
              <tr>
                <td>Stunned</td>
                <td>{{ wizard1.conditions[1].condition }}</td>
                <td>{{ wizard2.conditions[1].condition }}</td>
              </tr>
            </tbody>
          </table>
        </div>

      <div class="col-lg-6">
        <a id="top"></a>
        <div class="participants" *ngIf="wizardsArray.length !== 0">
          <h4>Status of all participating Wizards</h4>
          <p *ngFor="let part of wizardsArray">
            <a *ngIf="part.id === wizardsArray[0].id">
              {{ part.name }}, brave Defender:
            </a>
            <a *ngIf="part.id !== wizardsArray[0].id">
              {{ part.name }}, Attacker:
            </a>
            <ng-container *ngIf="part.healthPoints >= 10 && !part.halfLife"
              >Alive</ng-container
            >
            <ng-container
              *ngIf="
                (part.healthPoints < 10 && part.healthPoints > 0) ||
                (part.halfLife && part.healthPoints > -100)
              "
            >
              Barely Alive</ng-container
            ><ng-container *ngIf="part.healthPoints <= 0 && !part.halfLife"
              >Defeated</ng-container
            >
            <ng-container *ngIf="part.healthPoints <= -100 && part.halfLife"
              >Defeated</ng-container
            >
          </p>
        </div>
      </div>

      <ng-container *ngIf="attackWizard2.value">
        <div class="fs">
          <p *ngIf="showStart.value">
            The Battle beginns. {{ wizard2.name }} is already waiting and will
            start the battle!
          </p>
          <p *ngIf="!showStart.value">Now, {{ wizard2.name }} will attack</p>
          <label required for="options"
            >Please chose an Option for the Attack:</label
          >
          <a class="radio" *ngFor="let option of options">
            <input
              id="rate_{{ option }}"
              value="{{ option }}"
              type="radio"
              name="radio"
              [(ngModel)]="chosenOption"
            />{{ option }}
          </a>
          <ng-container *ngIf="chosenOption === 'Spell'">
            <ul *ngFor="let spell of wizard2.spells">
              <li>Name: {{ spell.name }}</li>
              <li>Energy Usage: {{ spell.energyUsage }}</li>
              <li>Max Damage: {{ spell.maxDamage }}</li>
              <li>Stunned: {{ spell.stunned }}</li>
              <li>Confunded: {{ spell.confunded }}</li>
              <li>Experience: {{ spell.requiredExperience }}</li>
              <li>
                <button
                  (click)="getSpell(spell)"
                  [disabled]="
                    wizard2.energy - spell.energyUsage < 0 ||
                    (spell.name === 'Piertotum Locomotor' &&
                      (environment !== 'Main Gate' || wizard2.ptCounter > 0)) ||
                    wizard2.victories < spell.requiredExperience
                  "
                >
                  Select
                </button>
                <button (click)="gotoAttackDetail(spell.id)">Details</button>
              </li>
            </ul>
            <p *ngIf="validateSpell.value && chosenOption === 'Spell'">
              Do you want to use {{ spell.value.name }} to attack
              {{ wizard1.name }}?
              <button (click)="executeAttack(wizard2, wizard1, false)">
                Yes
              </button>
            </p>
          </ng-container>

          <ng-container *ngIf="chosenOption === 'Potion'">
            <ul *ngFor="let potion of wizard2.potions">
              <li>Name: {{ potion.name }}</li>
              <li>Storage: {{ potion.storage }}</li>
              <li>Healing: {{ potion.healing }}</li>
              <li>Energy Recovery: {{ potion.energyRecovery }}</li>
              <li>Anti-Paralysis: {{ potion.antiParalysis }}</li>
              <li>Max Damage: {{ potion.maxDamage }}</li>
              <li>Additional Factor: {{ potion.additionalFactor }}</li>
              <li>Experience: {{ potion.requiredExperience }}</li>
              <li>
                <button
                  (click)="getPotion(potion)"
                  [disabled]="
                    potion.storage < 1 ||
                    (potion.name === 'Unicorn Blood' &&
                      wizard2.healthPoints > 10) ||
                    (potion.name === 'Regeneration Potion' &&
                      !voldemortIsDead) ||
                    wizard2.victories < potion.requiredExperience
                  "
                >
                  Select
                </button>
                <button (click)="gotoPotionDetail(potion.id)">Details</button>
              </li>
            </ul>
            <p *ngIf="validatePotion.value && chosenOption === 'Potion'">
              Do you want to use the {{ potion.value.name }}?
              <button (click)="executePotion(wizard2, wizard1, false)">
                Yes
              </button>
            </p>
          </ng-container>

          <ng-container *ngIf="chosenOption === 'Animal'">
            <ul *ngFor="let animal of wizard2.animals">
              <li>Name: {{ animal.name }}</li>
              <li>Energy Usage: {{ animal.energyUsage }}</li>
              <li>Healing: {{ animal.healing }}</li>
              <li>Energy Recovery: {{ animal.energyRecovery }}</li>
              <li>Max Damage: {{ animal.maxDamage }}</li>
              <li>Experience: {{ animal.requiredExperience }}</li>
              <li>
                <button
                  (click)="getAnimal(animal)"
                  [disabled]="wizard2.victories < animal.requiredExperience"
                >
                  Select
                </button>
                <button (click)="gotoAnimalDetail(animal.id)">Details</button>
              </li>
            </ul>
            <p *ngIf="validateAnimal.value && chosenOption === 'Animal'">
              Do you want to send {{ animal.value.name }} into the Fight?
              <button (click)="useAnimal(wizard2, wizard1, false)">Yes</button>
            </p>
          </ng-container>
        </div>
      </ng-container>

      <ng-container *ngIf="attackWizard1.value">
        <div class="fs">
          <p *ngIf="showStart.value">
            The Battle beginns. {{ wizard1.name }} arrives at the
            {{ environment }} sooner than expected and starts a surprise attack!
          </p>
          <p *ngIf="!showStart.value">
            Now {{ wizard1.name }} will mount an attack
          </p>
          <label required for="options"
            >Please chose an Option for the Attack:</label
          >
          <a class="radio" *ngFor="let option of options">
            <input
              id="rate_{{ option }}"
              value="{{ option }}"
              type="radio"
              name="radio"
              [(ngModel)]="chosenOption"
            />{{ option }}
          </a>
          <ng-container *ngIf="chosenOption === 'Spell'">
            <ul *ngFor="let spell of wizard1.spells">
              <li>Name: {{ spell.name }}</li>
              <li>Energy Usage: {{ spell.energyUsage }}</li>
              <li>Max Damage: {{ spell.maxDamage }}</li>
              <li>Stunned: {{ spell.stunned }}</li>
              <li>Confunded: {{ spell.confunded }}</li>
              <li>Experience: {{ spell.requiredExperience }}</li>
              <li>
                <button
                  (click)="getSpell(spell)"
                  [disabled]="
                    wizard1.energy - spell.energyUsage < 0 ||
                    (spell.name === 'Piertotum Locomotor' &&
                      (environment !== 'Main Gate' || wizard1.ptCounter > 0)) ||
                    wizard1.victories < spell.requiredExperience
                  "
                >
                  Select
                </button>
                <button (click)="gotoAttackDetail(spell.id)">Details</button>
              </li>
            </ul>
            <p *ngIf="validateSpell.value && chosenOption === 'Spell'">
              Do you want to use {{ spell.value.name }} to attack
              {{ wizard2.name }}?
              <button (click)="executeAttack(wizard1, wizard2, true)">
                Yes
              </button>
            </p>
          </ng-container>

          <ng-container *ngIf="chosenOption === 'Potion'">
            <ul *ngFor="let potion of wizard1.potions">
              <li>Name: {{ potion.name }}</li>
              <li>Storage: {{ potion.storage }}</li>
              <li>Healing: {{ potion.healing }}</li>
              <li>Energy Recovery: {{ potion.energyRecovery }}</li>
              <li>Anti-Paralysis: {{ potion.antiParalysis }}</li>
              <li>Max Damage: {{ potion.maxDamage }}</li>
              <li>Additional Factor: {{ potion.additionalFactor }}</li>
              <li>Experience: {{ potion.requiredExperience }}</li>
              <li>
                <button
                  (click)="getPotion(potion)"
                  [disabled]="
                    potion.storage < 1 ||
                    (potion.name === 'Unicorn Blood' &&
                      wizard1.healthPoints > 10) ||
                    wizard1.victories < potion.requiredExperience
                  "
                >
                  Select
                </button>
                <button (click)="gotoPotionDetail(potion.id)">Details</button>
              </li>
            </ul>
            <p *ngIf="validatePotion.value && chosenOption === 'Potion'">
              Do you want to use the {{ potion.value.name }}?
              <button (click)="executePotion(wizard1, wizard2, true)">
                Yes
              </button>
            </p>
          </ng-container>

          <ng-container *ngIf="chosenOption === 'Animal'">
            <ul *ngFor="let animal of wizard1.animals">
              <li>Name: {{ animal.name }}</li>
              <li>Energy Usage: {{ animal.energyUsage }}</li>
              <li>Healing: {{ animal.healing }}</li>
              <li>Energy Recovery: {{ animal.energyRecovery }}</li>
              <li>Max Damage: {{ animal.maxDamage }}</li>
              <li>Experience: {{ animal.requiredExperience }}</li>
              <li>
                <button
                  (click)="getAnimal(animal)"
                  [disabled]="wizard1.victories < animal.requiredExperience"
                >
                  Select
                </button>
                <button (click)="gotoAnimalDetail(animal.id)">Details</button>
              </li>
            </ul>
            <p *ngIf="validateAnimal.value && chosenOption === 'Animal'">
              Do you want to send {{ animal.value.name }} into the Fight?
              <button (click)="useAnimal(wizard1, wizard2, true)">Yes</button>
            </p>
          </ng-container>
        </div>
      </ng-container>
      <div *ngIf="showResult.value" class="result">
        <p *ngIf="wizard1.healthPoints > 0">
          The fight is over. Hogwarts is still standing!
        </p>
        <p *ngIf="wizard1.healthPoints > -100 && wizard1.halfLife">
          The fight is over. Hogwarts is still standing!
        </p>
        <p *ngIf="wizard2.healthPoints > 0">
          The fight is over. Hogwarts has fallen. The Resistance has to admit
          defeat!
        </p>
        <p *ngIf="wizard2.healthPoints > -100 && wizard2.halfLife">
          The fight is over. Hogwarts has fallen. The Resistance has to admit
          defeat!
        </p>
      </div>
    </div>
  </div>

  <ng-container *ngIf="wizard1 === undefined">
    <p class="note">
      <a href="fight" class="link"
        >No wizards have been selected! Please go to Battle in order to set up a
        Fight
      </a>
    </p>
  </ng-container>
</ng-container>
