.headerbattle {
  margin: 10px;
  border: 5px solid rgb(211, 166, 37);
  padding: 10px;
  list-style-type: none;
  text-align: center;
  border-radius: 0.25rem;

}

.container {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "note note"
    "ht ht"
    "table participants"
    "fs fs"
    "result result"
    ;
}


.headertable {
  grid-area: ht;
  text-align: center;
}


.fs {
  grid-area: fs;
  text-align: center;
}

.table {
  grid-area: table;
  text-align: center;
}

.result {
  grid-area: result;
  text-align: center;
}

.link {
  text-decoration: none;
  color: black;
}

.note {
  text-align: center;
  grid-area: note;
}

.participants {
  grid-area: participants;
}

.headeroverview {
  text-align: left;
}

.note:hover{
  margin: 10px 100px 10px 100px;
  border: 1px solid rgb(0, 0, 0);
  padding: 10px 10px;
  list-style-type: none;
}
