<div class="container">
  <a href="home" class="item-a">
  <h1>The</h1>
  </a>
  <a href="home">
  <h1>Game</h1>
  </a>
  <div class="item-e">
    <a href="home">
    <img src="assets/hp.png" height="150"
    />
    </a>
  </div>
  <nav>
    <ul class="item-c">
      <li class="item-ca"><a routerLink="home">Home</a></li>
      <li class="item-ca"><a routerLink="overview">Overview</a></li>
      <li class="item-ca"><a routerLink="detail">Detail View</a></li>
      <li class="item-ca"><a routerLink="fight">Battle</a></li>
      <!-- <li><a routerLink="/ceta">Credits</a></li> -->
      <li>
        <app-search-connection></app-search-connection>
      </li>
      <li class="item-ca"><a routerLink="create">Create</a></li>
      <li class="item-ca"><a routerLink="update">Update</a></li>
    </ul>
  </nav>
  <div class="item-b">
    <router-outlet></router-outlet>
  </div>
  <div class="item-d">
    <p>Creator of the Website: Aldogard Kasianowski</p>
  </div>
</div>
