li {
  margin: 10px;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px 50px;
  border-radius: 0.25rem;
  list-style-type: none;
}

.item:hover {
  background-color: rgb(211, 166, 37);
}

p {
  text-align: center;
}

.header {
  text-align: center;
}

.navElement{
  cursor: pointer;
}

