.fi {
  text-align: left;
}

.headerpotiondetail {
  margin: 10px;
  border: 5px solid rgb(148, 107, 45);
  padding: 10px;
  border-radius: 0.25rem;
  list-style-type: none;
  text-align: center;
}

a {
  color: white;
}


.link{
  text-align: center;
  color: white;
}
