<div class="header gold pt-lg-3 sticky-top">
  <h1 class="headercompare headertext">Compare two Wizards</h1>
</div>

<div class="container mt-5">
  <table class="table">
    <thead>
      <tr>
        <th>Please select</th>
        <th>
          <select
            class="formButton"
            id="magicalBeingUpdateA"
            (change)="getMagicalBeingAByName()"
          >
            <option
              class="options"
              value="{{ z.id }}"
              *ngFor="let z of magicalBeings"
            >
              {{ z.name }}
            </option>
          </select>
          <button class="formButtonTable" (click)="showHide1(true)" *ngIf="!show1.value">
            Show
          </button>
          <button class="formButtonTable" (click)="showHide1(false)" *ngIf="show1.value">
            Hide
          </button>
        </th>
        <th>
          <div class="buttonB">
            <select
              class="formButton"
              id="magicalBeingUpdateB"
              (change)="getMagicalBeingBByName()"
            >
              <option value="{{ z.id }}" *ngFor="let z of magicalBeings">
                {{ z.name }}
              </option>
            </select>
            <button class="formButtonTable" (click)="showHide2(true)" *ngIf="!show2.value">
              Show
            </button>
            <button class="formButtonTable" (click)="showHide2(false)" *ngIf="show2.value">
              Hide
            </button>
          </div>
        </th>
      </tr>
    </thead>
    <tr>
      <td></td>
    </tr>
    <tbody>
      <tr>
        <td>Healthpoints</td>
        <td>
          <div *ngIf="magicalBeingChoiceA !== undefined && show1.value">
            {{ magicalBeingChoiceA.healthPoints }}
          </div>
        </td>
        <td>
          <div *ngIf="magicalBeingChoiceB !== undefined && show2.value">
            {{ magicalBeingChoiceB.healthPoints }}
          </div>
        </td>
      </tr>
      <tr>
        <td>Faktor</td>
        <td>
          <div *ngIf="magicalBeingChoiceA !== undefined && show1.value">
            {{ magicalBeingChoiceA.faktor }}
          </div>
        </td>
        <td>
          <div *ngIf="magicalBeingChoiceB !== undefined && show2.value">
            {{ magicalBeingChoiceB.faktor }}
          </div>
        </td>
      </tr>
      <tr>
        <td>Energy</td>
        <td>
          <div *ngIf="magicalBeingChoiceA !== undefined && show1.value">
            {{ magicalBeingChoiceA.energy }}
          </div>
        </td>
        <td>
          <div *ngIf="magicalBeingChoiceB !== undefined && show2.value">
            {{ magicalBeingChoiceB.energy }}
          </div>
        </td>
      </tr>
      <tr>
        <td>Victories</td>
        <td>
          <div *ngIf="magicalBeingChoiceA !== undefined && show1.value">
            {{ magicalBeingChoiceA.victories }}
          </div>
        </td>
        <td>
          <div *ngIf="magicalBeingChoiceB !== undefined && show2.value">
            {{ magicalBeingChoiceB.victories }}
          </div>
        </td>
      </tr>
      <tr>
        <td>Rank</td>
        <td>
          <div *ngIf="magicalBeingChoiceA !== undefined && show1.value">
            <a (click)="gotoRanks()" class="link"> {{ magicalBeingChoiceA.rank }}</a>
          </div>
        </td>
        <td>
          <div *ngIf="magicalBeingChoiceB !== undefined && show2.value">
            <a (click)="gotoRanks()" class="link"> {{ magicalBeingChoiceB.rank }}</a>
          </div>
        </td>
      </tr>

      <tr>
        <td>Class</td>
        <td>
          <div *ngIf="magicalBeingChoiceA !== undefined && show1.value">
            {{ magicalBeingChoiceA.klasse }}
          </div>
        </td>
        <td>
          <div *ngIf="magicalBeingChoiceB !== undefined && show2.value">
            {{ magicalBeingChoiceB.klasse }}
          </div>
        </td>
      </tr>
      <tr>
        <td>Rating</td>
        <td>
          <div *ngIf="magicalBeingChoiceA !== undefined && show1.value">
            {{ magicalBeingChoiceA.rating }} ({{ magicalBeingChoiceA.amount }} Ratings)
          </div>
        </td>
        <td>
          <div *ngIf="magicalBeingChoiceB !== undefined && show2.value">
            {{ magicalBeingChoiceB.rating }} ({{ magicalBeingChoiceB.amount }} Ratings)
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
